# Copy this file to bunfig.toml and fill in your FontAwesome token.
# Get your token at: https://fontawesome.com/account
[install.scopes]
"@awesome.me" = { url = "https://npm.fontawesome.com/", token = "$FONTAWESOME_TOKEN" }
"@fortawesome" = { url = "https://npm.fontawesome.com/", token = "$FONTAWESOME_TOKEN" }
